@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #1f203a;
}

.tarea:focus{
    outline: none;
}
.tarea{
    background-color: transparent;
    max-width: 500px;
    text-align: center;
    color: white;
    max-width: 70%;
    max-height: 65%;
    border: none;
    overflow: hidden;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
}

.max-width {
    padding: 0 100px;
    margin: auto;
}

/* Navigation bar styling */
.nav-bar {
    position: fixed;
    width: 100%;
    padding: 15px 0;
    background: #1f203a;
    z-index: 999;
}

.logo_ml{
    margin-left: 22px;
}

.nav-bar.sticky {
    box-shadow: 0px 8px 8px -6px rgba(0,0,0,.5);
}

.nav-bar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar .logo a img{
    height: 30%;
    width: 30%;
}

.nav-bar .menu li {
    list-style: none;
    display: inline-block;
}

.nav-bar .menu li a {
    color: #ffffff;
    font-size: 22px;
    margin-left: 25px;
    transition: all 0.2s ease-in;
}

.nav-bar .menu li a:hover {
    color: #c2ce62;
}

/* Menu button styling */
.menu-button {
    color: #ffffff;
    font-size: 25px;
    cursor: pointer;
    display: none;
}

/* Close button styling */
.nav-bar .menu .menu-close-button {
    color: #ffffff;
    font-size: 25px;
    cursor: pointer;
    display: none;
}

.nav-bar .menu .menu-close-button:hover {
    color: #c2ce62;
}

/* About section styling */
.about .max-width {
    position: relative;
}

.about-body{
    background-color: #c2ce62;
    color: #111111;
    padding: 80px 0px;
}

.about .about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about .about-content .left {
    width: 45%;
}

.about .about-content .right {
    width: 55%;
    text-align: center;
}

.about .about-content .right p {
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    line-height: 140%;
    padding-top: 40px;
}

.about .about-content .right .text {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    letter-spacing: 2px;
}

.about .about-content .right .text a {
    position: relative;
    color: #111111;
}

.about .about-content .right .text a::before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 50%;
    width: 62px;
    height: 1px;
    background: #111111;
    transform: translateX(-50%);
}

.about .about-content .right i {
    color: #1f203a;
    font-size: 45px;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.about .about-content .right i:hover {
    font-size: 48px;
}

.about .about-profile {
    position: absolute;
    top: 30px;
}

.about .about-profile img {
    height: 400px;
    width: 350px;
    filter: brightness(85%);
    object-fit: cover;
}

.about .about-profile .text {
    position: absolute;
    font-size: 80px;
    letter-spacing: 6px;
    bottom: 10px;
    left: 20%;
    font-weight: 700;
    color: #ffffff;
}

/* About - think outside box section */
.about-description {
    position: absolute;
    top: 600px;
}

.about-description .content {
    color: #ffffff;
    width: 55%;
    height: auto;
    margin: 0 auto;
    padding: 10px;
}

.about-description .content h1 {
    font-weight: 700;
    font-size: 80px;
    letter-spacing: 5px;
}

.about-description .content .subtitle {
    font-size: 28px;
    letter-spacing: 4px;
}

.about-description .content p {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 45px;
    letter-spacing: 1px;
    line-height: 180%;
}

.about-description .content p span {
    cursor: pointer;
    border-bottom: 1px solid #ffffff;
}

.about-description .content a {
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    color: #1f203a;
    background-color: #c2ce62;
    padding: 15px 30px;
    margin-bottom: 50px;
    transition: all 0.3s ease-in;
}

.about-description .content a:hover {
    background-color: #ffffff;
}

/* Work section styling */
.work {
    position: relative;
    top: 670px;
    color: #ffffff;
    text-align: center;
}

.work .title h1 {
    font-size: 80px;
    font-weight: 700;
    letter-spacing: 5px;
    text-align: left;
}

.work .gallery {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.work .gallery .gallery-item {
    position: relative;
    width: 30%;
    height: 300px;
    margin-bottom: 40px;
    text-align: center;
    justify-content: center;
    overflow: hidden;
}

.work .gallery .gallery-item .gallery-item-img-background {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in;
}

.work .gallery .gallery-item .img-text-wrapper {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 20px;
    color: transparent;
    transition: all 0.3s ease-in;
}

.work .gallery .gallery-item .gallery-item-img-background.img-draken {
    filter: brightness(.1);
    transform: scale(1.05);
}

.work .gallery .gallery-item .img-text-wrapper:hover{
    color: #ffffff;
}


.work .gallery .gallery-item .img-title {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 0;
}

.work .gallery .gallery-item .img-sub-title {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
}

.work .gallery-attribute {
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0;
    text-align: center;
}

.work .gallery-attribute span {
    cursor: pointer;
    border-bottom: 1px solid #ffffff;
}

.work .button-wrapper {
    text-align: center;
}

.work .button-wrapper a {
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    color: #1f203a;
    background-color: #c2ce62;
    padding: 15px 30px;
    margin-bottom: 50px;
    font-weight: 500;
    transition: all 0.3s ease-in;    
}

.work .button-wrapper a:hover {
    background-color: #ffffff;
}

/* Conatct Section */
.contact {
    background-color: #c2ce62;
    padding: 80px 0px;
    position: relative;
    top: 700px;
}

.contact .contact-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.contact .column-left {
    display: flex;
    justify-content: end;
    width: 45%;
    margin: 0;
}

.contact .column-left form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.contact .column-left input,textarea {
    width: 100%;
    height: 40px;
    font-size: 16px;
    margin-bottom: 18px;
    padding-left: 10px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: #111111;
    background: transparent;
    transition: all 0.3s ease-in;
}

.contact .column-left input:focus,textarea:focus{
    border-color: #1f203a;
}

.contact .column-left textarea {
    height: 100px;
}

.contact .column-left a {
    color: #1f203a; 
    margin-top: 5px;
    text-align: center;
    width: 140px;
    font-size: 14px;
    background: transparent;
    border: 2px solid #1f203a;
    padding: 9px 0;
    font-weight: 700;
    transition: all 0.3s ease-in;   
}

.contact .column-left a:hover {
    color: #ffffff;
    background-color: #111111;
    border:3px solid #111111;
}

.contact .column-right {
    width: 45%;
}

.contact .column-right .contact-title {
    color: #1f203a;
    font-weight: 700;
    font-size: 40px;
}

.contact .column-right .icon-wrapper {
    display: flex;
    margin-top: 15px;
}

.contact .column-right .icon-wrapper img {
    width: 35px;
    height: 35px;
}

.contact .column-right .phone-wrapper {
    margin-top: 50px;
}

.contact .column-right .phone-wrapper .phone-text {
    font-size: 24px;
    letter-spacing: 3px;
}

/* Footer section styling */
.footer {
    position: relative;
    top: 700px;
    width: 100%;
}

.footer .text-wrapper {
    display: flex;
    width: 100%;
    padding: 40px;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    justify-content: center;
}

.footer .owner-text-wrapper {
    padding: 35px;
    background: #293332;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
}

.footer .owner-text-wrapper span {
    font-size: 18px;
    font-weight: 700;
}

/* Responsive media query */
@media (max-width: 1210px) {
    .about-body {
        padding-bottom: 48px;
    }

    .work .gallery .gallery-item {
        height: 240px;
    }
}

@media (max-width: 1024px) {
    .about-body {
        padding-bottom: 30px;
    }
    .about .about-profile img {
        height: 350px;
        width: 300px;
    }
    .about .about-profile .text {
        position: absolute;
        font-size: 65px;
        letter-spacing: 5px;
        bottom: 10px;
        left: 20%;
        font-weight: 700;
        color: #ffffff;
    }
    .about .about-content .right p {
        font-size: 20px;
        padding-top: 30px;
    }
}

/* Chaning menu to drop down */
@media (max-width: 940px){
    .max-width {
        padding: 0 20px;
    }
    .menu-button {
        display: block;
        z-index: 999;
    }
    .menu-button.active{
        color: #c2ce62;
    }
    .nav-bar .menu {
        position: fixed;
        height: 100vh;
        width: 75%;
        left: -100%;
        top: 0;
        background: #111111;
        padding-top: 20px;
        transition: all 0.5s ease;
    }
    .nav-bar .menu.active {
        left: 0;
    }
    .nav-bar .menu li {
        display: block;
        padding-left: 30%;
        padding-top: 0px;
    }
    .nav-bar .menu li a{
        display: inline-block;
        font-size: 25px;
        margin: 8px 0;
    }
    .nav-bar .menu .menu-close-button {
        display: block;
        z-index: 999;
        text-align: right;
        padding-right: 10%;
    }

    .about-body {
        padding-bottom: 80px;
    }

    .about .about-content .column {
        width: 100%;
    }

    .about .about-content .right {
        flex: 100%
    }

    .about .about-content .right p {
        padding-top: 20px;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 40px;
    }

    .about .about-profile {
        top: auto;
        padding-top: 20px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
    }

    .about .about-profile .text {
        font-size: 60px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
    }

    .about-description {
        position: relative;
        top: 350px;
    }
    
    .about-description .content {
        width: 100%;
    }
    
    .about-description .content h1 {
        font-size: 60px;
    }
    
    .about-description .content .subtitle {
        font-size: 24px;
        letter-spacing: 3px;
    }
    
    .about-description .content p {
        letter-spacing: .5px;
        line-height: 150%;
    }

    .work {
        top: 380px;
    }

    .work .title h1 {
        font-size: 60px;
    }
    
    .work .gallery .gallery-item {
        width: 45%;
    }

    .contact {
        top: 380px;
        padding: 60px 0px;
    }

    .contact .contact-content {
        justify-content: space-between;
    }

    .contact .contact-content .column-left form {
        width: 100%;
    }

    .footer {
        top: 380px;
    }
}

@media (max-width: 550px) {
    .work .gallery .gallery-item {
        margin-bottom: 20px;
        width: 100%;
    }

    .contact .contact-content {
        flex-direction: column;
    }

    .contact .contact-content .column-left {
        width: 100%;
        justify-content: center;
        margin-bottom: 60px;
    }

    .contact .contact-content .column-right {
        width: 100%;
    }
} 

@media (max-width: 300px) {
    .about .about-profile img {
        height: 300px;
        width: 250px;
    }

    .about .about-profile .text {
        font-size: 50px;
    }
}